.dropDownSkillList {
  padding: 10px 0;
  border-radius: 8px;
  border: 1px solid #E3E5F1;
  display: none;
  position: relative;
}

.dropDownSkillListItem {
  padding: 16px;
  color: #5A6793;
  cursor: pointer;
}

.dropDownSkillListItem:hover {
  background-color: #E3E5F1;
}

.active {
  display: block;
  position: absolute;
  width: 392px;
  max-height: 270px;
  background-color: #fff;
  overflow:auto;
  z-index: 10;
}