svg {
  cursor: pointer;
}

.selectedSkillsListWrapper {
  max-width: 717px;
  background: #fff;
  padding: 64px;
  border-radius: 15px;
  text-align: left;
  display: grid;
  grid-template-columns: 392px 133px;
  gap: 64px;
}


.selectedSkill {
  background: #0D2167;
  border-radius: 15px;
  max-width: 392px;
  color: #fff;
  padding: 16px;
  margin-bottom: 16px;
  position: relative;
}

.selectedSkill svg {
  position: absolute;
  right: 17px;
  bottom: 12px;
  width: 30px;
  height: 30px;
}

select {
  cursor: pointer;
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: #F7F7FA;
  border: 1px solid #E3E5F1;
}

select:focus {
  border: none;
  outline: none;
  border: 1px solid #E3E5F1;
}

.customSelect {
  position: relative;
}

.customSelect svg {
  position: absolute;
  right: 23px;
  bottom: 30px;
  width: 20px;
  height: 20px;
}